/* public/css/clash-grotesk.css */
@font-face{
  font-family:"ClashGrotesk";
  src:url("/fonts/ClashGrotesk-Variable.woff2") format("woff2-variations");
  font-weight:200 700;
  font-style:normal;
  font-display:swap;
}


