.media {
 
  display: flex;
  justify-content: center;   /* centrado; cambia a flex-start para alinearlo a la izquierda */
  z-index: 1;
}

.mediaImg {
  width:100%   /* tamaño máximo */
        /* o "contain" según tu asset */
}