:root {
  /* Tipografía */
  --font-sans: "ClashGrotesk", system-ui, -apple-system, Segoe UI, Roboto, sans-serif;

  /* Colores */
  --color-bg: #181818;
  --color-fg: #fff;
  --color-muted: #94a3b8;
  --color-primary: #7145D0;
  --color-secondary: #090B9B;
  --color-accent: #8DFFC9;


  /* Espaciado */
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xl: 4rem;
  --page-gutter: 64px;
  
}

* { box-sizing: border-box; margin: 0; padding: 0; }
html, body, #root { height: 100%; }
body {


  margin: 0;
  padding-left: var(--page-gutter);
  padding-right: var(--page-gutter);

  font-family: var(--font-sans);
  background:var(--color-bg);
  color: var(--color-fg);
  line-height: 1.6;
}

